
<!-- 
 <div class="backimage" background= <%=@inspireimage%>>

 <h1 class="quote"><%= @quote.content %></h1>

<div background=<%=@inspireimage%>>
  <h1 class="quote"><%= @quote.content %></h1>
  <p>&mdash;<%= @quote.author %></p>
</div> -->

<section id="hero" class="hero u-full-width">
  <div class="hero-image"></div>
  <div class="container centered">
    <div class="twelve columns">
      <h1 class="separator" id="logo"><%= @quote.content %></h1>
      <p id="logo">&mdash;<%= @quote.author %></p>
      <h2 id="logo"><a class="button" href="/">Go Back</a></h2>
    </div>
  </div>
</section>


