
 <div class="backimage" background= <%=@inspireimage%>>

  <h1 class="quote"><%= @quote.content %>
  <p>- <%= @quote.author %></p></h1>

 <div class="container">
   <div class="row">
      <div class="twelve columns">
      <h4 class="centered">
        <a class="button" href="/">Go Back</a>
      </h4>
      </div>
    </div>
  </div>





<div background="<%=@inspireimage%>">
  <h1 class="quote"><%= @quote.content %></h1>
  <p>&mdash;<%= @quote.author %></p>
</div>

